@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap");

// Theme 1 colors
$background1: hsl(222, 26%, 31%);
$keypadbg1: hsl(223, 31%, 20%);
$screenbg1: hsl(224, 36%, 15%);
$screentext1: hsl(0, 0, 100%);

$keybg1: hsl(30, 25%, 89%);
$keyshadow1: hsl(28, 16%, 65%);
$keytext1: hsl(221, 14%, 31%);

$deletebg1: hsl(225, 21%, 49%);
$deleteshadow1: hsl(224, 28%, 35%);

$equalskey1: hsl(6, 63%, 50%);
$equalskeyshadow1: hsl(6, 70%, 34%);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  background-color: $background1;
}

.container {
  width: 85%;
  margin: 3rem auto;
}

.top {
  margin-bottom: 3rem;

  &__title {
    color: #fff;
    font-size: 3rem;
  }
}

.input {
  text-align: right;
  width: 100%;
  height: 6.5rem;
  font-size: 3rem;
  font-family: inherit;
  padding: 1rem;
  color: #fff;
  border: none;
  background-color: $screenbg1;
  border-radius: 8px;
  margin-bottom: 2.5rem;

  &:focus {
    outline: none;
  }
}

.keypad {
  background-color: $keypadbg1;
  padding: 2rem;
  display: grid;
  grid-gap: 1.2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  border-radius: 8px;
  grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . ."
    "reset reset equals equals";

  &__buttons {
    font-family: inherit;
    padding: 1.4rem;
    font-size: 2.5rem;
    font-weight: 700;
    background-color: $keybg1;
    color: $keytext1;
    border-radius: 8px;
    border: none;
    box-shadow: 0 4px 0px 0px $keyshadow1;

    &:active {
      box-shadow: none;
      transform: translateY(4px);
    }
    

    &--del {
      font-weight: 600;
      font-size: 1.5rem;
      background-color: $deletebg1;
      box-shadow: 0 4px 0px 0px $deleteshadow1;
      color: #fff;
    }

    &--reset {
      grid-area: reset;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: $deletebg1;
      box-shadow: 0 4px 0px 0px $deleteshadow1;
      color: #fff;
    }

    &--equals {
      grid-area: equals;
      font-size: 1.5rem;
      font-weight: 600;
      background-color: $equalskey1;
      box-shadow: 0 4px 0px 0px $equalskeyshadow1;
      color: #fff;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 400;
  margin-top: 5rem;
  color: #fff;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
